<h1>Step 2: Select your config and options</h1>
<div *ngIf="currentCfg">
    <label>Config:</label>
    <select id="configSelect" name="configSelect" [(ngModel)]="selectedConfig">
        <option value="0" hidden>Please select your configuration</option>
        <option  *ngFor="let cfg of currentOpt?.configs" [value]="cfg.id">{{cfg.description}}</option>
    </select>
    <div *ngIf="selectedConfig!==0 ">
        <p>Range: {{currentCfg()?.range}} miles - Max speed: {{currentCfg()?.speed}} - Price: {{currentCfg()?.price}} </p>
    </div>
    <div *ngIf="currentOpt?.towHitch">
        <label>towHitch?</label>
        <input id="includeTow" type="checkbox" [(ngModel)]="includeTow" />
    </div>
    <div *ngIf="currentOpt?.yoke">
        <label>yoke steering wheel?</label>
        <input id="includeYoke" type="checkbox" [(ngModel)]="includeYoke" />
    </div>
</div>